<%- include('partials/header') %>

<div id="logo" style="margin-top: 70px;">
	<h1><a href="#">Collaboration</a></h1>
	<!-- <h2>By Free CSS Templates</h2> -->
</div>
<div id="splash" style="position: relative;">
	
</div>
<hr />
<div id="page" style="position: absolute;top: 340px;left: 320px;margin-bottom: 100px;">
	<div id="content">
		<div class="post">
			<h2 class="title">Collab with us..</h2>
			<div class="entry">
				<p style="font-weight: bold;">Thank you for your interest in supporting ProtectHer.ProtectHer chooses to remain independent from political, religious and economic interests, so to ensure this degree of freedom in our work, most of our funds come from unrestricted donations from individual donors like yourself.</p>
				<!-- <p>This template is also available as a <a href="http://www.nodethirtythree.com/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p> -->
			</div>
			<p class="meta"><span class="posted">	<a href="#"></a> </span> <a href="#" class="permalink"></a> <a href="#" class="comments"></a> </p>
		</div>
		<div class="post">
			<h2 class="title">Why you should collab with us?
			</h2>
			<div class="entry">
				<p> <strong> The power of partnership is critical to our operational framework. We recognise that there are many organisations that are already very active in working to keep women safe and that have extensive knowledge about the challenge faced in these organization. There are also organisations with expertise in raising awareness of issues, developing wide-spread networks and mobilising resources.  It is only by bringing together the combined knowledge, skills, and experiences of these organisations that we will be able to help millions of women and realise their basic human right.</strong></p>
			</div>
			<p class="meta"><span class="posted">  <a href="#"></a> </span> <a href="#" class="permalink"></a> <a href="#" class="comments"></a> . </p>
		</div>
	</div>
	<!-- end #content -->
	<div id="sidebar" style="position: absolute;  left: -400px;top: -50px; width: 1000px;">
		<ul>
			<div class="wrapper" style="margin-left: 200px;margin-top: 90px;">
				<h2 style="font-size: 15px;margin-bottom: 10px;">DONATE US</h2>
				<form action="/joinus" method="POST" style="background-color: rgb(137, 177, 197);border-radius: 5%;" >
				  <div class="form-group">
					<label for="name" style="color: aliceblue ; font-size: 20px;">Full Name</label>
					<input type="text" name="Namej" id="name" placeholder="First and Last" required minlength="3" maxlength="25" />
				  </div>
				  <div class="form-group">
					<label for="email" style="color: aliceblue ; font-size: 20px;">Account details</label>
					<input type="email" name="Emailj" id="email" placeholder="details.." required />
				  </div>
				  <!-- <div class="form-group">
					<label for="message" style="color: aliceblue ; font-size: 20px;">Address</label>
					<textarea name="Messagej" id="message" rows="5" placeholder="Type your message here...."></textarea>
				  </div> -->
				  <div class="form-group">
					<label for="message" style="color: aliceblue ; font-size: 20px;">Amount</label>
					<input type="text" name="professionj" id="name" placeholder="$" required minlength="3" maxlength="25" />
				  </div>
				  <div class="form-group">
					<button type="submit" class="btn btn-secondary"><i class="far fa-paper-plane"></i>Send</button>
				  </div>
				</form>
			  </div>
			<!-- <li id="search">
				<h2>Search</h2>
				<form id="searchform" method="get" action="">
					<div>
						<input type="text" name="s" id="s" size="15" />
						<br />
						<input name="submit" type="submit" value="Search" />
					</div>
				</form>
			</li> -->
			<!-- <li>
				<h2>Veroeros etiam</h2>
				<p><strong>Morbi sit amet</strong> mauris Nam vitae nibh eu sapien dictum pharetra. Vestibulum elementum neque vel lacus. Proin auctor dolor loremmassa. Phasellus sit. <a href="#">More&hellip;</a></p>
			</li>
			<li>
				<h2>Blandit Volutpat</h2>
				<ul>
					<li><a href="#">Morbi sit amet sed magna</a></li>
					<li><a href="#">Lacus dapibus interdum</a></li>
					<li><a href="#">Donec pede nisl dolore sed</a></li>
					<li><a href="#">Lacus dapibus et interdum</a></li>
					<li><a href="#">Morbi sit amet magna  etiam</a></li>
					<li><a href="#">Maecenas sed sem lorem</a></li>
					<li><a href="#">Lacus dapibus interdum</a></li>
					<li><a href="#">Donec pede nisl dolore</a></li>
				</ul>
			</li> -->
		</ul>
	</div>
	<!-- end #sidebar -->
</div>




<footer class="footer-distributed" style="margin-top: 600px;">

    <div class="footer-left">

        <h3><img src="https://i.ibb.co/hFfTYGH/FINAL-LOGO.png" style="height: 65px;width: 300px;" alt=""></h3>

        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            
            <a href="/blog">Blog</a>
        
            <a href="/aboutus">About</a>
            
            <a href="/">Faq</a>
        </p>

        <p class="footer-company-name">ProtectHer © 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>SLIET</span> Sangrur , Punjab</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 9040161827</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            We are here to make this world a better place for women
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>













