<%- include('partials/header') %>

<div class="div1">
  <form
    style="width: 500px; position: absolute; top: 200px; left: 100px"
    action="/"
    method="post"
  >
    <div class="mb-3">
      <label
        for="exampleInputEmail1"
        class="form-label"
        style="color: aliceblue"
        ><strong>Connect with us ! </strong>
      </label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="E-mail address"
        name="email"
      />
      <div
        id="emailHelp"
        class="form-text"
        style="font-size: 20px; color: white"
      >
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Name"
        name="pass"
      />
    </div>
    <div class="mb-3 form-check">
      <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
      <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>

<div>
  <h1 style="margin-top: 25px; margin-left: 820px">
    <strong>
      <small class="text-muted">Changing lives...with you, for you</small>
    </strong>
    <p style="font-size: 25px; margin-top: 9px">
      If any society cannot nurture women, cannot respect women, then sorry to
      say, society can be developed; can be wealthy but not modern and rich. A
      society should have dignity, security, and respect for women. Society
      should encourage men as well as women to achieve the top of their
      abilities.
    </p>
  </h1>
</div>

<div class="infoDiv">
  <div class="innerDiv">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
      style="height: 230px; width: 570px"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="width: 600px">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="https://www.themobileindian.com/images/nnews/2012/12/9785/BE-SAFE.jpg"
            alt="First slide"
            style="height: 230px; width: 1900px"
          />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="http://www.momsall.com/wp-content/uploads/2021/09/safetyforwomen.jpg"
            alt="Second slide"
            style="height: 230px; width: 900px"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="https://images.yourstory.com/cs/wordpress/2019/01/women-safety-HS3.jpg"
            alt="Third slide"
            style="height: 230px; width: 900px"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        style="margin-left: 20px"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<h1 style="margin-top: 80px">Explore</h1>
<div class="colordiv">
  <div class="link1">
    <div class="content">
      <a href="/blog" target="_blank">
        <div class="content-overlay"></div>
        <img
          class="content-image"
          style="border-radius: 100%"
          src="https://images.pexels.com/photos/1591056/pexels-photo-1591056.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-1591056.jpg&fm=jpg"
        />
        <div class="content-details fadeIn-bottom">
          <h5 class="content-title" style="color: aliceblue">We hear you!</h5>
          <!-- <p class="content-text"></p> -->
        </div>
      </a>
    </div>

    <h3 style="color: aliceblue">Blog</h3>
  </div>
  <div class="link2">
    <div class="content">
      <a href="/aboutus" target="_blank">
        <div class="content-overlay"></div>
        <img
          class="content-image"
          style="border-radius: 100%"
          src="https://udaipurwebdesigner.in/wp-content/uploads/2019/08/about-us-title-img.png"
        />
        <div class="content-details fadeIn-bottom">
          <h5 class="content-title" style="color: aliceblue">Know us!</h5>
          <!-- <p class="content-text">This is a short description</p> -->
        </div>
      </a>
    </div>
    <h3 style="color: aliceblue">About us</h3>
  </div>
  <div class="link3">
    <div class="content">
      <a href="/map" target="_blank">
        <div class="content-overlay"></div>
        <img
          class="content-image"
          style="border-radius: 100%"
          src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362"
        />
        <div class="content-details fadeIn-bottom">
          <h5 class="content-title" style="color: aliceblue">
            Just a mail away!
          </h5>
          <!-- <p class="content-text">This is a short description</p> -->
        </div>
      </a>
    </div>
    <h3 style="color: aliceblue">Whereabouts</h3>
  </div>
  <div class="link4">
    <div class="content">
      <a href="/collab" target="_blank">
        <div class="content-overlay"></div>
        <img
          class="content-image"
          style="border-radius: 100%"
          src="https://images.pexels.com/photos/1198171/pexels-photo-1198171.jpeg?cs=srgb&dl=pexels-mica-asato-1198171.jpg&fm=jpg"
        />
        <div class="content-details fadeIn-bottom">
          <h5 class="content-title" style="color: aliceblue">
            Join our hands!
          </h5>
          <!-- <p class="content-text"></p> -->
        </div>
      </a>
    </div>
    <h3 style="color: aliceblue">Collab</h3>
  </div>
</div>
<div class="sponsorsponsors">
  <h1>Our Sponsors</h1>
  <div style="display: inline">
    <ul>
      <li style="display: inline">
        <img
          style="
            height: 250px;
            width: 280px;
            border-radius: 100%;
            margin-right: 40px;
          "
          src="https://www.coca-colacompany.com/content/dam/company/us/en/the-coca-cola-company-logo.svg"
          alt=""
        />
      </li>
      <li style="display: inline">
        <img
          style="
            height: 250px;
            width: 280px;
            border-radius: 100%;
            margin-right: 40px;
          "
          src="https://beta.gooru.org/about/core/uploads/2020/11/5dc42ba5542606804779773b_logo-TheNudge-Color-300x300.png"
          alt=""
        />
      </li>
      <li style="display: inline">
        <img
          style="
            height: 250px;
            width: 280px;
            border-radius: 100%;
            margin-right: 40px;
          "
          src="https://static.theceomagazine.net/wp-content/uploads/2022/06/29170845/the-lily.jpg"
          alt=""
        />
      </li>
      <li style="display: inline">
        <img
          style="height: 250px; width: 280px; border-radius: 100%"
          src="https://nonprofitrisk.org/wp-content/uploads/2018/07/Ipas-logo.png"
          alt=""
        />
      </li>
    </ul>
  </div>
</div>

<!-- <section>Footer Example 4</section> -->
<%- include('partials/footer') %>
