<%- include('partials/header') %>
<h2 class="title" style="margin-top: 90px;font-family: 'Open Sans', sans-serif;">Hover on your country to know if we are there... </h2>
    <div class="div11" style="margin-bottom: -150px;">
        <img class="mapind" src="https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="India">
        <img class="mapaus" src="https://images.pexels.com/photos/1533721/pexels-photo-1533721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Australlia">
        <img class="mapuk" src="https://images.pexels.com/photos/1837591/pexels-photo-1837591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="UK">
        <img class="mapger" src="https://images.pexels.com/photos/161849/cologne-dom-night-architecture-161849.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Germany">
        <img class="maprus" src="https://images.pexels.com/photos/439440/pexels-photo-439440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Russia">
        <img class="mapchi" src="https://images.pexels.com/photos/1423580/pexels-photo-1423580.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="China">
        <img class="mapcan" src="https://images.pexels.com/photos/1868676/pexels-photo-1868676.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Canada">
        <img class="mapus" src="https://images.pexels.com/photos/356844/pexels-photo-356844.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="USA">
        <img class="mapswi" src="https://images.pexels.com/photos/2026454/pexels-photo-2026454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Switzerland">
    </div>

    <h3 style="margin-top: 160px;color: black;">If we are not,  then do email us, and we will be there soon !</h3>







<%- include('partials/footer') %>